body {
    cursor: none;
}


.cursor-dot {
    width: 5px;
    height: 5px;
    background-color: var(--black);
}

.cursor-outline  {
    width: 25px;
    height: 25px;
    /* border: 1.5px solid var(--black); */
    opacity: 100%;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    color: white;
    display: flex;
    transition: all 0.2s ease-in-out;


    background-color: white;
    mix-blend-mode: difference;
    
}

.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10001;
    pointer-events: none;
}

.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10001;
    pointer-events: none;
    /* transition: left 0.1s, top 0.1s, width 0.2s, height 0.2s, border-radius 0.2s ease-in-out; */
}
