/* Basic CSS styles will go here */

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif; /* Basic default font */
    display: flex;
    flex-direction: column; /* Arrange children (header, main-content) vertically */

    font-size: 17.5px;
}

h1,
p,
a {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
}


.left {
    margin-top: 10px;
    width: 50%;
    /* height: 100%; Remove fixed height */
}

.left-content {
    margin-left: 50%;
    width: 50%;
    height: 100%;
}



/* New rule for the main content area */
.main-content {
    display: flex; /* Arrange left and right side-by-side */
    flex-grow: 1; /* Allow this div to take up remaining vertical space */
}

.header {
    padding: 5px;
    display: flex;
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%-10px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid black;
}

.header a {
    flex-basis: 25%;
    height: inherit;
}



.right {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    overflow: scroll;
    height: 95vh;
}

.item {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 10px);
    height: auto;
    padding-bottom: 80px;
}

.item img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Optional: removes extra space below image */
    padding-bottom: 10px;
}

.full {
    flex-basis: calc(100% - 10px);
}

.desc {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-basis: calc(100% - 10px);
}

.desc p {
    flex-basis: 50%;
}